<ion-view view-title="">
  <ion-content>
    <div class='row'>
      <button class='col col-50 toggleOn'>Pick Up</button>
      <button class='col col-50'>Get Picked Up</button>
    </div>

    <ul class='list'>
      <li ng-repeat='line in pickUpLines' class='' style='border: 1px solid lightgray'>
        <div class='row' on-touch='togglePickUp(line._id)'>
          <div class='col col-20' style='margin: auto 0; padding: 0'>
            <div class='row col col-middle'>
              <div class='icon ion-person-stalker center tripleSize'></div>
            </div>
            <div class='row'>
              <h2 class='green word-wrap' style='margin: auto'>{{line.numberOfResponses}}</h2>
            </div>
          </div>
          <div class='row col col-50'>
            <p>{{line.line}}</p>
            <h5 class='gray'>{{line.date}}</h5>
          </div>
          <div class='row col col-30' style='margin: auto'>
            <img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{line.lat}},{{line.long}}&zoom=13&size=100x100&markers={{line.lat}},{{line.long}}">
          </div>
        </div>
        <div class='list' ng-show='isPickUpShown(line._id)'>
          <a ng-repeat='response in line.responses' class='item item-thumbnail-left' on-touch='goToResponse(response._id)'>
            <img ng-src='{{response.image}}'>
            <h2>{{response.name}}</h2>
            <h4>{{response.age}}</h4>
            <h4>{{response.location}}</h4>
            <p>{{response.response}}</p>
          </a>
        </div>
      </li>
    </div>

    <!-- <div class='list'>
      <a ng-repeat='person in views' class='item item-thumbnail-left'>
        <img ng-src='{{person.image}}'>
        <h2>{{person.name}}</h2>
        <h4>{{person.age}}</h4>
        <h4>{{person.location}}</h4>
        <p>{{person.response}}</p>
      </a>
    </div> -->
  </ion-content>
</ion-view>
